/* Mind Flayer - Brainmate Styling */

.brainmate-mobile
  position: relative
  display: flex
  flex-direction: column

  &.game
    justify-content: center

  #ui-left
    display: none !important

  #ui-middle
    display: block
    position: relative
    flex: 0 0 auto
    order: 1
    z-index: calc(var(--z-index-app) + 2)

    #ui-top
      display: none
    #ui-bottom
      overflow: visible

  #hotbar
    width: 100%
    height: var(--hotbar-height)
    margin: 2px 0

    #macro-list
      grid-template-columns: repeat( 10, 10% )

    .macro
      width: 100%
      margin: 0 2px
      display: flex
      justify-content: center
    
    .page-control[data-action="page-up"]
      display: none
    
    #context-menu
      position: fixed
      left: 0
      right: 0
      bottom: calc(var(--macro-size) + 2px)


  #hotbar-directory-controls,
  .macro-key
    display: none

    
  #ui-right
    display: block
    position: relative
    flex: 1 1 0%
    order: 0

    #sidebar
      margin: 0
      height: 100%
      width: 100%

      .tabs
        .item[data-tab=scenes],
        .item[data-tab=items],
        .item[data-tab=journal],
        .item[data-tab=tables],
        .item[data-tab=cards],
        .item[data-tab=playlists],
        .item[data-tab=compendium],
        .collapse
          display: none
      
        .item
          flex: 1 0 var(--sidebar-tab-width)

      > .tab
        overflow-y: auto
        flex: 1 1 0

  #chat
    grid-template-areas: "log log" "who controls" "form form"
    grid-template-columns: auto 1fr
    grid-template-rows: 1fr auto auto

    &.active
      display: grid
    
    .chat-control-icon,
    .control-buttons
      display: none

  #chat-log
    grid-area: log
    height: unset
  
  #chat-controls
    grid-area: controls

  #chat-form
    grid-area: form
    height: unset
    flex: 0 1 auto
    display: flex
    align-items: stretch

  #chat-submit
    width: unset
    flex: 0 1 auto
    border: 1px solid var(--color-border-dark)
    background: url(/ui/parchment.jpg) repeat
    
  #chat-message
    min-height: 1em
    flex: 1 0 80%

  #hud
    display: none
  
  #board
    display: none

  #pause
    display: none
  
  #menu
    top: auto !important

  .window-app
    display: flex !important
    flex-direction: column !important
    width: 100% !important
    min-width: 0 !important
    min-height: 0 !important
    top: auto !important
    left: 0 !important
    height: auto !important
    max-height: 70vh !important
    overflow-y: hidden !important

    .header-button:not(.close),
    .pop__btn-open,
    .tit-menu__btn-open--sheet,
    .window-resizable-handle
      display: none !important
    
    .window-content
      overflow: auto !important

    &.sheet
      &.actor
        top: 0 !important
        height: 100vh !important
        max-height: calc(100vh - var(--hotbar-height) - 7px) !important

        .imp-cls__btn-sheet-level-up
          display: none !important
        .sheet-header img.profile
          display: none
        
        .tab

          .items-header
            height: auto
            min-height: 2em

            .item-detail,
            .item-controls
              display: none

          > *
            padding: 0
          .item.flexrow
            flex-wrap: wrap
            justify-content: flex-end

            > *
              flex: 1 0 1px
              line-height: 30px
              min-height: 30px
              height: unset
              white-space: unset

            .item-summary
              flex: 0 0 100%
              line-height: 16px

            .item-name
              flex: 0 0 100%
              border-bottom: 1px solid #c9c7b8

              @media (min-width: 600px)
                flex: 3 0 1px
                border-bottom: none

            .ethck-item-controls,
            .item-controls
              flex: 0 0 60px

              > *,
              .item-control
                font-size: 18px
                margin: 0 3px

            .item-create,
            .item-delete,
            .effect-control[data-action="delete"]
              display: none

        .tab.downtime
          .item-name
            flex-grow: 1
          .item-detail
            flex-grow: 6
        
        .tab.attributes
          flex-wrap: wrap
          overflow-y: auto

          > *
            margin-bottom: 5px
          
          .skills-list
            flex: 1 0 auto
            height: unset

            .skill
              height: unset
        
          .center-pane
            overflow: hidden
            flex: 1 1 auto
            height: auto

          @media (min-width: 700px)
            .skills-list,
            .center-pane
              flex-basis: 200px
        
        .tab.inventory
          .inventory-filters .currency
            display: grid
            grid-template-areas: "headline headline headline headline headline" "hpp hgp hep hsp hcp" "pp gp ep sp cp"
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr
            
            h3
              grid-area: headline
              display: flex
              justify-content: space-between
            .pp
              grid-area: hpp
            input[name="data.currency.pp"]
              grid-area: pp
            .gp
              grid-area: hgp
            input[name="data.currency.gp"]
              grid-area: gp
            .ep
              grid-area: hep
            input[name="data.currency.ep"]
              grid-area: ep
            .sp
              grid-area: hsp
            input[name="data.currency.sp"]
              grid-area: sp
            .cp
              grid-area: hcp
            input[name="data.currency.cp"]
              grid-area: cp
        .tab.inventory,
        .tab.features,
        .tab.spellbook
          .items-header
            .spell-school,
            .spell-action,
            .spell-target
              display: none

          .spellbook-filters
            display: flex
            flex-direction: column

            .spellcasting-ability
              flex: 1 0 auto
              width: 100%

            .filter-list
              max-width: unset

              .filter-item
                padding-top: 1rem

      .sheet-body
        overflow-y: auto !important
        border-top: 1px solid #69675d

        .editor
          height: auto !important

        .editor-edit
          display: none !important

      &.item
        max-height: 70vh !important

      .sheet-navigation
        flex-wrap: wrap

        .item
          flex: 1 0 auto
          margin: 2px 5px

  #client-settings section.content .settings-list
    max-height: unset

  /* Module Specific */

  #plutonium__backend-version
    display: none

  #dice-box-canvas
    display: none